<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>My Library</h1>
    {% if not all_books %}
        <p>No books available.</p>
    {% else %}
        <ul>
            {% for book in all_books %}
                <li><a href="{{ url_for('delete_book', id=book.id) }}">Delete </a>{{ book.title }} - {{ book.author }} - {{ book.rating }} <a href="{{ url_for('edit_rating', name=book.title, author=book.author, rating=book.rating, id=book.id) }}">Edit rating</a></li>

            {% endfor %}
        </ul>
    {% endif %}
    <a href="{{ url_for('add') }}">Add new book.</a>
</body>
</html>
